.new-member-form
  text-align center
  height 100vh
  position relative
  font-size  36px

  .name-form, .email-form, .shop-selection-form
    position relative
    top 40%
    transform: translateY(-40%)

    label
      margin-right 20px
    input
      border 0
      border-bottom 1px solid black
      background-color transparent

      &:focus
        outline 0

  .shop-selection-form
    .shop
      position relative
      display  inline-block
      margin-left 100px
      &:first-child
        margin-left 0

      .shop__selected
        position absolute
        right 0
        bottom 0

      input[type='checkbox']
        opacity 0

    button
      opacity 0

.fade-enter
  opacity 0

.fade-enter.fade-enter-active
  opacity 1
  transition opacity 500ms ease-in

.fade-leave
  opacity 1

.fade-leave.fade-leave-active
  opacity 0
  transition opacity 500ms ease-in
